.navbar-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0;
    padding: 10px;
  }



  body {
    text-align: center;
  }
  

  /* Add the following styles to center the form in LoginPage.js */

  /* Styling for the homepage content */

  /* Add the following styles to align the navigation links and logout button horizontally */
  .navbar {
    background-color: #9abd31;
    padding: 10px 0;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
    padding: 0;
    margin: 0;
  }
  
  .navbar-menu li {
    margin-right: 10px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .navbar-menu button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Additional styles for the homepage content */
  .homepage-content {
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Add a top margin to separate it from the navbar */
    border: 1px solid #ccc; /* Add a border to separate it from the navbar */
    background-color: rgb(31, 212, 209);
  }