 body {
  margin: 0;
  text-align: center;
  /* background-image: url("C:\Users\user\OneDrive\Desktop\farmers\Farmer-to-Consumer-App\client\src\img\majanichai.jpeg"); */
  background-size: cover;
  background-position: centre;
  font-family: Arial, Helvetica, sans-serif;
  } 
  
  /* styles to center the form in LoginPage.js */
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(237, 177, 177);
    color: white;
    /* position:; */
    transform: translate(-50%, );
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
/*   
  .homepage {
    text-align: center;
    padding: 20px;
    background-color: rgb(67, 176, 31);
  } */
  
