  /* Styles to align the navigation links and logout button horizontally */

  .navbar-container {
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navbar-menu li {
    margin-right: 10px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .navbar-menu button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
  }

  .container {
    text-align: center;
    padding: 20px;
    /* background-color: rgb(222, 232, 219); */
  }

  .display-4{
    color: green;
  }
  
  #paragraph{
    font-size: large;
  }

  .jumbotron{
    padding-top: 30px;
    margin-top: 30px;
  }